:root {
  --sc-theme--primary-light: #565656;
  --sc-theme--primary: #232323;
  --sc-theme--primary-dark: #030303;
  --sc-theme--secondary-light: #407153;
  --sc-theme--secondary: #103b21;
  --sc-theme--secondary-dark: #020905;
  --sc-theme--on-primary: #fff;
  --sc-theme--on-secondary: #fff;
  --sc-theme--error: #b00020;
  --sc-theme--warning: #ffa000;
  --sc-theme--success: #25a53f;
  --sc-theme--on-error: #fff;
  --sc-theme--on-warning: #000;
  --sc-theme--on-success: #fff;
  --sc-theme--small-radius: 0.3rem;
  --sc-theme--medium-radius: 0.5rem;
  --sc-theme--large-radius: 0.7rem;
}

.sc-button {
  width: max-content;
  min-width: 57px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  user-select: none;
  padding: 0.4rem 0.6rem;
  -webkit-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.sc-button > * + * {
  margin-left: 5px;
}
.sc-button:hover {
  cursor: pointer;
}
.sc-button:disabled {
  pointer-events: none;
}
.sc-button .sc-button__label {
  font-weight: inherit;
  font-size: inherit;
  text-align: left;
  color: inherit;
}
.sc-button .sc-button__icon {
  font-size: 1.25rem;
  position: relative;
  color: inherit;
  /* @fallback */
  width: 1.25rem;
  height: 1.25rem;
}
.sc-button.sc-button--outlined {
  color: var(--sc-theme--secondary);
  border: 1px solid var(--sc-theme--secondary);
  background: rgba(0, 0, 0, 0);
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  font-size: 0.875rem;
  font-weight: 700;
  text-decoration: inherit;
  text-transform: inherit;
  border-radius: var(--sc-theme--small-radius);
}
.sc-button.sc-button--outlined:hover {
  color: var(--sc-theme--on-secondary);
  background: var(--sc-theme--secondary);
  border: 1px solid var(--sc-theme--secondary);
  cursor: pointer;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}
.sc-button.sc-button--outlined:focus {
  border: 1px solid var(--sc-theme--secondary);
  cursor: pointer;
  outline: 2px solid rgba(175, 175, 175, 0.5);
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}
.sc-button.sc-button--outlined:active {
  color: var(--sc-theme--on-secondary);
  background: var(--sc-theme--secondary-light);
  border: 1px solid var(--sc-theme--secondary-light);
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
}
.sc-button.sc-button--outlined:disabled {
  color: var(--sc-theme--secondary-dark);
  border: 1px solid var(--sc-theme--secondary-dark);
  cursor: not-allowed !important;
}
.sc-button.sc-button--outlined:disabled:hover {
  background: rgba(0, 0, 0, 0);
}
.sc-button.sc-button--filled {
  color: var(--sc-theme--on-secondary);
  border: 1px solid var(--sc-theme--secondary);
  background: var(--sc-theme--secondary);
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  font-size: 0.875rem;
  font-weight: 700;
  text-decoration: inherit;
  text-transform: inherit;
  border-radius: var(--sc-theme--small-radius);
}
.sc-button.sc-button--filled:hover {
  color: var(--sc-theme--on-secondary);
  border: 1px solid var(--sc-theme--secondary);
  background: var(--sc-theme--secondary);
  cursor: pointer;
  -webkit-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}
.sc-button.sc-button--filled:focus {
  color: var(--sc-theme--on-secondary);
  border: 1px solid var(--sc-theme--secondary);
  background: var(--sc-theme--secondary);
  cursor: pointer;
  outline: 2px solid rgba(175, 175, 175, 0.5);
  -webkit-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}
.sc-button.sc-button--filled:active {
  color: var(--sc-theme--on-secondary);
  border: 1px solid var(--sc-theme--secondary-light);
  background: var(--sc-theme--secondary-light);
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 4px 5px -2px rgba(0, 0, 0, 0.2), 0px 7px 10px 1px rgba(0, 0, 0, 0.14), 0px 2px 16px 1px rgba(0, 0, 0, 0.12);
}
.sc-button.sc-button--filled:disabled {
  color: var(--sc-theme--on-secondary);
  border: 1px solid var(--sc-theme--secondary-dark);
  background: var(--sc-theme--secondary-dark);
  cursor: not-allowed !important;
  -webkit-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  -ms-box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2), 0px 0px 0px 0px rgba(0, 0, 0, 0.14), 0px 0px 0px 0px rgba(0, 0, 0, 0.12);
}

/*# sourceMappingURL=main.css.map */
